<div data-test-page-client-index='root'>
  <div class='flex flex-col gap-2'>
    {{#each @clients as |client|}}
      <LinkTo
        @route='client.show'
        @model={{client}}
        class='listing listing-interactive'
        data-test-page-client-index='client'
        data-test-client-id={{client.clientId}}
      >
        {{client.firstName}}
        {{client.lastName}}
      </LinkTo>
    {{else}}
      <div data-test-page-client-index='no-client'>
        <p>No clients found</p>
      </div>
    {{/each}}
  </div>

  {{#if this.canPaginate}}
    <div
      class='grid grid-cols-3 gap-4 p-4 place-content-center w-max mx-auto'
      data-test-page-client-index='pagination'
    >
      <button
        type='button'
        class='flat-button'
        disabled={{not this.canPaginateBack}}
        data-test-page-client-index='go-back'
        {{on 'click' this.goBack}}
      >
        Back
      </button>

      <span
        class='font-semibold grid place-content-center'
        data-test-page-client-index='current-page'
      >
        {{this.currentPageNumberForDisplay}}
      </span>

      <button
        type='button'
        class='flat-button'
        disabled={{not this.canPaginateForward}}
        data-test-page-client-index='go-forward'
        {{on 'click' this.goForward}}
      >
        Next
      </button>
    </div>
  {{/if}}
</div>