<div data-test-voucher-manager='root' {{did-insert (perform this.getVouchers)}}>
  <Input
    @type='number'
    class='input mb-8'
    placeholder='Enter the amount for a new voucher'
    data-test-voucher-manager='new-voucher'
  />

  <div class='flex flex-col gap-2'>
    {{#let this.getVouchers.lastSuccessful.value as |vouchers|}}
      {{#each vouchers as |voucher|}}
        <div class='listing' data-test-voucher-manager='voucher'>
          <p>voucher id: {{voucher.voucherId}}</p>
          <p>remaining balance: {{voucher.remainingBalance}}</p>
        </div>
      {{else}}
        {{!
          Only show the loading state in the first render.
          After a voucher is created, the current ones will remain until the
          task is finished again.
        }}
        {{#if this.getVouchers.isRunning}}
          <p class='listing' data-test-voucher-manager='loading'>
            Loading...
          </p>
        {{else}}
          <p class='listing' data-test-voucher-manager='no-voucher'>
            No vouchers found
          </p>
        {{/if}}
      {{/each}}
    {{/let}}
  </div>
</div>